<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Welcome to {{lodspk.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Jim McCusker,Tim Lebo,Alvaro Graves">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link rel="alternate" type="text/turtle" href="http://healthdata.tw.rpi.edu/void.ttl"/>
  <link href="farrah/css/farrah.css" rel="stylesheet"/>
  <link href="farrah/css/bootstrap.min.css" rel="stylesheet"/>
  <link href="farrah/css/bootstrap-responsive.css" rel="stylesheet"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
  <script src="farrah/js/jquery.min.js"></script>
  <script src="farrah/js/bootstrap.min.js"></script>
  <script src="farrah/js/bootstrap-modal.js"></script>
  <script src="farrah/js/jquery.typing-0.2.0.min.js"></script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .wait{
        background-image:url('img/wait.gif');
        background-repeat:no-repeat;
        padding-right:20px;
        background-position: right;
      }
      .fb{font-family: sans-serif; font-size: 12px;}
    </style>
  </head>
  <body prefix="prov: http://www.w3.org/ns/prov#">
 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#"><img src='/img/logo.png' width="24px"/>healthdata.tw.rpi.edu</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="datasets">Linked Datasets</a></li>
              <li><a href="hub">CKAN Datasets</a></li>
              <li><a href="namedGraphs">Named Graphs</a></li>
              <li><a href="vocabularies">Vocabularies</a></li>
              <li><a href="statistics">Statistics</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container" about="http://healthdata.tw.rpi.edu">
      <h1></h1>

      <div class='fluid-row'>
       <div class="span10 well">
        <h3>HealthData.gov Platform (HDP) on the Semantic Web</h3>
         <p>Welcome! This site provides the Department of Health and Human Services' 
            <a href="http://www.healthdata.gov/developer-challenges-overview">HealthData.gov Platform (HDP)</a> as part of the semantic web.
         </p>
        <h3>Linked Data</h3>
         The data shown on this site is available as RDF.
         <ul>
         <li>It can be queried from <a property="prov:alternateOf" href="http://healthdata.tw.rpi.edu/sparql">this SPARQL endpoint</a>.</li>
         <li>A full list of datasets and data dump URLs is available in <a property="prov:alternateOf" href="http://healthdata.tw.rpi.edu/void.ttl">this VoID listing</a>.</li>
         <li>Any data element URI can be requested using content negotiation (e.g., as <code>application/rdf+xml</code>).
         </p>
         </ul>
        <h3>CKAN repository</h3>
        <p>Check out our <a href='/hub'>CKAN repository</a>, our <a href="https://github.com/jimmccusker/twc-healthdata/wiki/Mirroring-a-Source-CKAN-Instance">writable mirror</a> 
            of <a href="http://hub.healthdata.gov">http://hub.healthdata.gov</a>.</p>
        <h3>Behind the curtain</h3>
        <p>This site is maintained through our <a href="https://github.com/jimmccusker/twc-healthdata">github repository</a>;
	see the <a href="https://github.com/jimmccusker/twc-healthdata/wiki">wiki</a>. 
	All data that we provide on this site can be automatically reproduced from the original goverment sources using <a href="https://github.com/timrdf/csv2rdf4lod-automation/wiki">csv2rdf4lod</a>. The site was developed by <a property="prov:wasAttributedTo" href="http://tw.rpi.edu">Tetherless World Constellation</a>.</p>
        <h3>Statistics</h3>
        <p>Check out some <a href='statistics'>statistics</a> of the datasets converted.</p>
       </div>
      </div>
      <div class='fluid-row'>
       <div class='span10'>
        <div id='f'></div>
       </div>
      </div>
    </div>
<script src="farrah/js/dateWidget.js"></script>
<script src="farrah/js/main.js"></script>
<script>
var conf = {
   endpoint: 'http://healthdata.tw.rpi.edu/sparql',
query: {
  prefixes: {
    foaf: "http://xmlns.com/foaf/0.1/",
    dcterms: "http://purl.org/dc/terms/",
    dgtwc: "http://data-gov.tw.rpi.edu/2009/data-gov-twc.rdf#",
    rdfs: "http://www.w3.org/2000/01/rdf-schema#",
    conversion: "http://purl.org/twc/vocab/conversion/",
    skos: "http://www.w3.org/2004/02/skos/core#",
    dcat: "http://www.w3.org/ns/dcat#"
  },
  variables: ["?thingTitle", "?thing", "?thingDescription"],
  patterns: ["?thing a conversion:AbstractDataset", 
             "?thing dcterms:title ?thingTitle", 
             "OPTIONAL{ ?thing dcterms:description ?thingDescription}", 
             "OPTIONAL{ ?thing dgtwc:catalog_homepage ?catalogHomepage}"
             ],
},
resourceType: ["conversion:AbstractDataset"],
   facets: [{'id': 'subjects',
    'facetPredicates': ['dcterms:subject'],
    'facetLabelPredicates': 'skos:prefLabel'
  },
  {'id': 'keywords',
    'facetPredicates': ['dcat:keyword'],
  },
  {'id': 'dates_modified',
    'facetPredicates': ['dcterms:modified'],
    'facetEntityCast': 'xsd:date',
    'facetWidget': 'date'
  }],
}
Farrah.init("f", conf);
</script>
  </body>
</html>


