<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LODSPeaKr Basic Menu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML Version" href="{{lodspk.local.value}}.rdf" />
    <link rel="alternate" type="text/turtle" title="Turtle Version" href="{{lodspk.local.value}}.ttl" />
    <link rel="alternate" type="text/plain" title="N-Triples Version" href="{{lodspk.local.value}}.nt" />
    <link rel="alternate" type="application/json" title="RDFJSON Version" href="{{lodspk.local.value}}.json" />
    <link href="{{lodspk.home}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .wait{
        background-image:url('{{lodspk.home}}img/wait.gif');
        background-repeat:no-repeat;
        padding-right:20px;
        background-position: right;
      }
    </style>
    <link href="{{lodspk.home}}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{lodspk.home}}js/jquery.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.typeahead').typeahead({
            source: function (typeahead, query) {
              $('.typeahead').addClass('wait');[]
              return $.get('{{lodspk.home}}search/'+encodeURIComponent(query), { }, function (data) {
                  $('.typeahead').removeClass('wait');[]
                  return typeahead.process(data);
              }, 'json');
            },
            onselect: function (obj) {
              $('.typeahead').attr('disabled', true);
              window.location = obj.uri;
            }
        });
    });
    </script>
  </head>
  <body>
    {%include "../../menu.inc"%}
    <div class="container">

      <div class="fluid-row">
         <div class="span12">
            <p>The SPARQL endpoint at <a href="http://healthdata.tw.rpi.edu/sparql">http://healthdata.tw.rpi.edu/sparql</a> contains a graph with the 
               <a href="http://www.w3.org/TR/sparql11-service-description/#sd-name">name</a>:</p>
            <p><i>{{lodspk.args.all|deurifier}}</i></p>
            <p>This page describes the contents of that graph, which can be queried using SPARQL queries similar to the following structure:</p>
            <div class="span10">
             <pre>
SELECT DISTINCT ?type
WHERE {
  GRAPH &lt;{{lodspk.args.all|deurifier}}&gt; { 
    [] a ?type
  }
}            </pre>
            </div>
         </div>
      </div>

      {%if first.data_rows.total.value%}
      <p>This graph is the result of converting {{first.data_rows.total.value}} data rows.</p>
      {%endif%}

      {%if first.loads.input.value%}
      <h3>Loads</h3>
        <p>The following web URLs were loaded into this graph.</p>
 	     <table>
        {% for row in models.loads %}
          <tr>
            <td><a href="{{row.input.value}}">{{row.input.value}}</a><td>
            <td>{{row.when.value}}</a></td>
          </tr>
        {% endfor %}
       </table>
      {%endif%}

      <h3>Classes ({{models.main|length}})</h3>
 	    <ul>
        {% for row in models.main %}
          <li>{{row.class.curie}} ({{row.total.value}} instances)</a></li>
        {% endfor %}
      </ul>

      <h3>Predicates ({{models.preds|length}})</h3>
 	    <ul>
        {% for row in models.preds %}
          <li>{{row.p.curie}} (used in {{row.total.value}} triples)</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>

