<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graph View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="alternate" type="application/rdf+xml" title="RDF/XML Version" href="{{lodspk.local.value}}.rdf" />
    <link rel="alternate" type="text/turtle" title="Turtle Version" href="{{lodspk.local.value}}.ttl" />
    <link rel="alternate" type="text/plain" title="N-Triples Version" href="{{lodspk.local.value}}.nt" />
    <link rel="alternate" type="application/json" title="RDFJSON Version" href="{{lodspk.local.value}}.json" />
    <link href="{{lodspk.home}}css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="{{lodspk.home}}css/provenance.css"    rel="stylesheet" type="text/css" media="screen" />
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
      .wait{
        background-image:url('{{lodspk.home}}img/wait.gif');
        background-repeat:no-repeat;
        padding-right:20px;
        background-position: right;
      }
    </style>
    <link href="{{lodspk.home}}css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script type="text/javascript" src="{{lodspk.home}}js/jquery.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{lodspk.home}}js/bootstrap-typeahead.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        $('.typeahead').typeahead({
            source: function (typeahead, query) {
              $('.typeahead').addClass('wait');[]
              return $.get('{{lodspk.home}}search/'+encodeURIComponent(query), { }, function (data) {
                  $('.typeahead').removeClass('wait');[]
                  return typeahead.process(data);
              }, 'json');
            },
            onselect: function (obj) {
              $('.typeahead').attr('disabled', true);
              window.location = obj.uri;
            }
        });
    });
    </script>
  </head>
  <body>
    {%include "../../includes/menu.inc"%}
    <div class="container">

      <div class="fluid-row">
         <div class="span12">
            <p>The SPARQL endpoint at <a href="{{conf.endpoint.local}}">{{conf.endpoint.local}}</a> contains a graph with the 
               <a href="http://www.w3.org/TR/sparql11-service-description/#sd-name">name</a>:</p>
            <p><i>{{lodspk.args.all|deurifier}}</i></p>
            <p>This page describes the contents of that graph, which can be queried using SPARQL queries similar to the following structure:</p>
            <div class="span10">
             <pre>
SELECT DISTINCT ?type
WHERE {
  GRAPH &lt;{{lodspk.args.all|deurifier}}&gt; { 
    [] a ?type
  }
}            </pre>
            </div>
         </div>
      </div>

      <div class="fluid-row">
         <div class="span12">
            {%if first.loads.input.value%}
            <h3>Graph Loads</h3>
              <p>The following web URLs were loaded into this graph, at the times shown.</p>
              <p>
                 <table>
                 {% for row in models.loads %}
                   <tr>
                     <td><a href="{{row.input.value}}">{{row.input.value|uripath|explode:"/"|pop}}</a><td>
                     <td>on {{row.when.value|date:"jS F Y \\a\\t H:i:s"}}</a></td>
                   </tr>
                 {% endfor %}
                </table>
             </p>
             <p class="provenance query">[show <a href="{{lodspk.queries.loads}}">query</a>]</p>
            {%endif%}
         </div>
      </div>

      {%if first.data_rows.total.value%}
         <div class="fluid-row">
            <div class="span12">
               <h3>Tabular Conversion</h3>
               <p>This graph is the result of converting {{first.data_rows.total.value}} data rows.</p>
            </div>
         </div>
      {%endif%}

      <div class="fluid-row">

         <div class="span4">
           <h3>Vocabulary Popularity</h3>
           <p>The following chart shows the vocabularies used in this RDF graph along with how frequently each is used in the triples.</p>
           {{models.total_vocab|GoogleVizColumnChart:"vocab.curie,totalVocab"}}
         </div>

         <div class="span4">
           <h3>Term Popularity</h3>
           <p>The following chart shows the predicates used in this RDF graph along with how frequently each is used in the triples.</p>
           {{models.preds|GoogleVizColumnChart:"p.curie,total"}}
         </div>
      </div>

      <div class="fluid-row">

         <div class="span5">
            <h3>Classes ({{models.main|length}})</h3>
            <p>The RDF in this graph contains instances of the following classes, <i>grouped</i> 
               by the vocabulary in which they are defined and <i>ordered</i> by popularity.
	       <a class "provenance query"href="{{lodspk.queries.total_vocab}}">query</a>
            </p>
            <ul>
            {% for row in models.total_vocab %}
               {%if row.totalVocab.value == 0%}
                  <li>Other predicates</a>
               {%else%}
                  <li><a href='vocabulary/{{row.vocab.mirroredUri|urifier}}'>{{row.vocab.mirroredUri}}</a> ({{row.totalVocab.value}} instances)</li>
               {%endif%}
               <ul>
               {% for i in models.total_class %}
                   {%if i.vocab.value == row.vocab.value%}
                      {%if i.totalClass.value > 1 %}
                         <li>{{i.class.curie}} ({{i.totalClass.value}} instances)</li>
                      {%else%}
                         <li>{{i.class.curie}} ({{i.totalClass.value}} instance)</li>
                      {%endif%}
                   {%endif%}
               {% endfor %}
               </ul>
              </li>
            {% endfor %}
           </ul>
         </div>

         <div class="span5">
            <h3>Predicates ({{models.preds|length}})</h3>
             <ul>
              {% for row in models.preds %}
                <li>{{row.p.curie}} (used in {{row.total.value}} triples)</a></li>
              {% endfor %}
            </ul>
         </div>

      </div>

    </div>
  </body>
</html>

